# Python para análise de dados(Pandas)

In [1]:
#importando a biblioteca pandas
import pandas as pd

In [5]:
df = pd.read_csv("datasets/Gapminder.csv", sep=";")

In [8]:
#Visualizando as 5 primeiras linhas
df.head(1)

       country continent  year  lifeExp      pop   gdpPercap
0  Afghanistan      Asia  1952   28.801  8425333  779.445314

In [9]:
df = df.rename(columns={"country":"Pais", "continent": "continente", "year":"Ano", "lifeExp":"Expectativa_de_vida", "pop":"Populacao", "gdpPercap": "PIB"})

In [12]:
# Cabeçalho do dataframe
df.head(1)

          Pais continente   Ano  Expectativa_de_vida  Populacao         PIB
0  Afghanistan       Asia  1952               28.801    8425333  779.445314

In [13]:
#Total de linhas e colunas
df.shape

(3312, 6)

In [14]:
df.columns

Index(['Pais', 'continente', 'Ano', 'Expectativa_de_vida', 'Populacao', 'PIB'], dtype='object')

In [15]:
df.dtypes

Pais                    object
continente              object
Ano                      int64
Expectativa_de_vida    float64
Populacao                int64
PIB                    float64
dtype: object

In [16]:
df.tail(5)

          Pais continente   Ano  Expectativa_de_vida  Populacao         PIB
3307  Zimbabwe     Africa  1987               62.351    9216418  706.157306
3308  Zimbabwe     Africa  1992               60.377   10704340  693.420786
3309  Zimbabwe     Africa  1997               46.809   11404948  792.449960
3310  Zimbabwe     Africa  2002               39.989   11926563  672.038623
3311  Zimbabwe     Africa  2007               43.487   12311143  469.709298

In [17]:
df.describe()

               Ano  Expectativa_de_vida     Populacao            PIB
count  3312.000000          3312.000000  3.312000e+03    3312.000000
mean   1980.301630            65.246871  3.161489e+07   11317.115805
std      16.927294            11.768412  1.041193e+08   11369.142739
min    1950.000000            23.599000  5.941200e+04     241.165876
25%    1967.000000            58.337500  2.678572e+06    2514.625266
50%    1982.000000            69.610000  7.557218e+06    7838.505123
75%    1996.000000            73.657750  1.958522e+07   17357.879170
max    2007.000000            82.670000  1.318683e+09  113523.132900

In [18]:
df["continente"].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

In [21]:
Americas = df.loc[df["continente"] == "Americas"]
Americas.head()

         Pais continente   Ano  Expectativa_de_vida  Populacao          PIB
48  Argentina   Americas  1952               62.485   17876956  5911.315053
49  Argentina   Americas  1957               64.399   19610538  6856.856212
50  Argentina   Americas  1962               65.142   21283783  7133.166023
51  Argentina   Americas  1967               65.634   22934225  8052.953021
52  Argentina   Americas  1972               67.065   24779799  9443.038526

In [22]:
Americas["continente"].unique()

array(['Americas'], dtype=object)

In [23]:
df.groupby("continente")["Pais"].nunique()

continente
Africa      51
Americas    25
Asia        41
Europe      35
FSU          6
Oceania      3
Name: Pais, dtype: int64

In [24]:
df.groupby("Ano")["Expectativa_de_vida"].mean()

Ano
1950    62.002568
1951    65.904167
1952    49.206867
1953    66.674563
1954    67.459817
1955    67.806757
1956    67.950637
1957    51.614590
1958    68.815936
1959    68.226579
1960    68.470837
1961    68.862480
1962    54.035234
1963    69.595735
1964    70.063105
1965    70.259881
1966    70.447526
1967    56.263629
1968    70.689081
1969    70.653896
1970    70.961141
1971    71.103976
1972    58.474481
1973    71.500338
1974    71.778504
1975    71.939218
1976    72.158050
1977    60.429090
1978    72.717567
1979    73.018717
1980    73.064524
1981    73.337399
1982    62.365871
1983    73.787778
1984    74.100741
1985    74.112222
1986    74.452222
1987    63.984860
1988    74.760000
1989    74.924444
1990    74.283438
1991    74.374848
1992    65.008443
1993    74.324545
1994    74.456667
1995    74.552727
1996    75.029394
1997    65.873799
1998    75.569697
1999    75.703636
2000    76.026364
2001    76.257879
2002    66.835695
2003    76.586667
2004    76.921562
2005    76.718667
2006    77.887778
2007    67.868557
Name: Expectativa_de_vida, dtype: float64

In [25]:
df["PIB"].mean()

11317.115804696648

In [26]:
df["PIB"].sum()

37482287.5451553